# ðŸ“Š TLG Notebook
- **TLG ID**: 14
- **Title**: T14
- **Programmer**: @
- **QC Reviewer**: @

In [ ]:
# Start your analysis
# spark.read.format('delta').table('adam.adsl')