# ðŸ“Š TLG Notebook
- **TLG ID**: 26
- **Title**: Mahabub table
- **Programmer**: @mahabub
- **QC Reviewer**: @pfioole

In [ ]:
from delta.tables import DeltaTable
import json

#Inputs
input_table = 'onesource_eu_dev_rni.evidence_silver.silver_edc_demo_ae'
input_table_version = spark.sql(f'DESCRIBE HISTORY {input_table}').collect()[0]['version']

In [ ]:
# Start your analysis below
# spark.read.format('delta').table('adam.adsl')
output_path = 'placeholder'
row_count = '0'

In [ ]:
#Return structured result - do not modify
dbutils.notebook.exit(json.dumps({
 'input_table': input_table,
 'input_table_version': input_table_version,
 'output_path': output_path,
 'row_count': row_count
}))